<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".faq.FaqFragment"></activity>
        <activity android:name=".driverhistory.DriverhistoryFragment" />
        <activity android:name=".findshops.FindshopsFragment" />
        <activity android:name=".findgarages.FindgaragesFragment" />
        <activity android:name=".CostEstimationActivity4" />
        <activity android:name=".CostEstimationActivity3" />
        <activity android:name=".CostEstimationActivity2" />
        <activity android:name=".CostEstimationActivity1" />
        <activity android:name=".FAQActivity" />
        <activity android:name=".FindSparePartsActivity2" />
        <activity android:name=".FindSparePartsActivity" />
        <activity android:name=".FindGaragesActivity2" />
        <activity android:name=".FindGaragesActivity" />
        <activity android:name=".DriverHistoryActivity" />
        <activity android:name=".DriverHistoryVerifyActivity" />
        <activity
            android:name=".AgentProfileActivity"
            android:label="@string/title_activity_agent_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>